<div class="col-md-6 center">
  <h1>User Forms</h1>
<form [formGroup]="myform" (ngSubmit)="onSubmit()">
  <div class="form-row" >
    <div class="col-md-12 mb-3">
      <label for="validationServer01">First name</label>
      <input type="text" class="form-control" formControlName="fname" placeholder="First name" value="" required>
    </div>
    <div class="col-md-12 mb-3">
      <label for="validationServer02">Last name</label>
      <input type="text" class="form-control" formControlName="lname" placeholder="Last name" value="" required>
    </div>
    <div class="col-md-12 mb-3">
      <label for="validationServer02">City</label>
      <input type="text" class="form-control" formControlName="city" placeholder="City" value="" required>
    </div>
  </div> 
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>
</div>